/* DO NOT CHANGE THIS FILE -------------------------------------------------- */
/* TO OVER-RIDE ANY ASPECT OF THIS CSS, AMEND THE user.css FILE ------------- */


/* Historical osCommerce ---------------------------------------------------- */

.buttonSet {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonSet { zoom: 1; }
.buttonSet:before, .buttonSet:after { content: ""; display: table; }
.buttonSet:after { clear: both; }

.buttonAction {
  float: right;
}

#piGal img {
  max-width: 250px;
  height: auto;
}

.inputRequirement, .markProductOutOfStock, .stockWarning {
  color: #B33A3A;
}

.markProductOutOfStock, .stockWarning {
  font-weight: bold;
}

ul.accountLinkList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

ul.shoppingCartList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.shoppingCartList li.newItemInCart, ul.shoppingCartList li.newItemInCart A {
  color: red;
}

/* Alignment of Form Inputs ------------------------------------------------- */

.form-control {
  margin-bottom: 5px;
  display: inline;
}

/* for the product page rework ---------------------------------------------- */

.page-header h1 del {
  font-size: 0.5em;
}

/* for the category list rework --------------------------------------------- */

.list-group-item-heading {
  height: 40px;
  overflow: hidden;
}

.list-group-item-text {
  height: 94px;
  overflow: hidden;
}

p.lead del {
  font-size: 0.5em;
}

/* Category Listings  ------------------------------------------------------- */
.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 10px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover {
  background: #428bca;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}

.item.list-group-item .thumbnail {
  margin-bottom: 0px;
}

.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item img {
  float: left;
}

.item.list-group-item:after {
  clear: both;
}

.list-group-item-text {
  margin: 0 0 11px;
}


/* Responsive Images  ------------------------------------------------------- */
/* the inbuilt bootstrap responsive images class breaks the text-center class */

.img-responsive {
  margin-left: auto;
  margin-right: auto;
}

/* Checkout Bar ------------------------------------------------------------- */
.stepwizard {
  margin-top: 20px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 33%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/* Pagination  ------------------------------------------------------- */
.pagenav{position:relative;top:-25px;left:3px;}
.pagenumber{margin-bottom:7px;}

/* Reviews ------------------------------------------------------------------ */

.reviews blockquote p {
  font-size: 0.8em;
}

/* Responsive Text Alignment ------------------------------------------------ */
/* https://github.com/twbs/bootstrap/issues/11292 --------------------------- */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

/* Footer ------------------------------------------------------------------- */
.footer {
  background: #eee;
}

.footer div {
  padding: 5px 10px 0px 10px;
}

.footer-extra {
  background: #111;
  color: silver;
  line-height: 3;
  padding: 0px 10px 0px 10px;
}

.footer-extra A {
  color: silver;
}

