/* DO NOT CHANGE THIS FILE -------------------------------------------------- */
/* TO OVER-RIDE ANY ASPECT OF THIS CSS, AMEND THE user.css FILE ------------- */


/* Historical osCommerce ---------------------------------------------------- */

.buttonSet {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonSet { zoom: 1; }
.buttonSet:before, .buttonSet:after { content: ""; display: table; }
.buttonSet:after { clear: both; }

.buttonAction {
  float: right;
}

#piGal img {
  max-width: 250px;
  height: auto;
}

.inputRequirement, .markProductOutOfStock, .stockWarning {
  color: #B33A3A;
}

.markProductOutOfStock, .stockWarning {
  font-weight: bold;
}

ul.accountLinkList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

ul.shoppingCartList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.shoppingCartList li.newItemInCart, ul.shoppingCartList li.newItemInCart A {
  color: red;
}

/* Alignment of Form Inputs ------------------------------------------------- */

.form-control {
  margin-bottom: 5px;
  display: inline;
}

/* for the product page rework ---------------------------------------------- */

.page-header h1 del {
  font-size: 0.5em;
}

/* for the category list rework --------------------------------------------- */

.list-group-item-heading {
  height: 40px;
  overflow: hidden;
}

.list-group-item-text {
  height: 94px;
  overflow: hidden;
}

p.lead del {
  font-size: 0.5em;
}

/* Category Listings  ------------------------------------------------------- */
.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 10px;
}

.thumbnail .caption h5 {
  min-height: 35px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover {
  background: #428bca;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}

.item.list-group-item .thumbnail {
  margin-bottom: 0px;
}

.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item img {
  float: left;
}

.item.list-group-item:after {
  clear: both;
}

.list-group-item-text {
  margin: 0 0 11px;
}


/* Responsive Images  ------------------------------------------------------- */
/* the inbuilt bootstrap responsive images class breaks the text-center class */

#bodyContent .img-responsive, #columnLeft .img-responsive, #columnRight .img-responsive {
  margin-left: auto;
  margin-right: auto;
}

/* Checkout Bar ------------------------------------------------------------- */
.stepwizard {
  margin-top: 20px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width: 33%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/* Pagination  ------------------------------------------------------- */
.pagenav {
   position: relative;
   top:-25px;
   left:3px;
   height: 40px !important;
}
.pagenumber {
  margin-bottom:7px;
}

/* Reviews ------------------------------------------------------------------ */

.reviews blockquote p {
  font-size: 0.8em;
}

/* Responsive Text Alignment ------------------------------------------------ */
/* https://github.com/twbs/bootstrap/issues/11292 --------------------------- */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

/* Footer ------------------------------------------------------------------- */
.footer {
  background: #eee;
  border-top: 2px solid #ddd;
}

.footer .footerbox {
  padding: 10px 10px 0px 10px;
}

.footer-extra {
  background: #111;
  color: silver;
  line-height: 3;
}

.footer-extra A {
  color: silver;
}

.footer h2 {
  padding: 0;
  margin: 0;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: rgb(142,11,0);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contact {
  border-left: 1px solid #ddd;
}

/* Category Listings  ------------------------------------------------------- */
/* Reusable Inline Block Grids for building UL list  ------------------------ */
.inline-span {
 display: block; overflow: hidden; padding: 0; margin: 0 auto; width: 100%;
}
.inline-span:before, .inline-span:after {
 display: table; content: " ";
}
.inline-span:after {
 clear: both
}
.inline-span > li {
 position: relative; display: inline; height: auto; float: left; padding: 1%; margin: 1%; overflow: hidden;
}
.inline-span.one-across > li {
 width: 98%
}
.inline-span.two-across > li {
 width: 48%
}
.inline-span.two-across > li:nth-child(2n+1) {
 clear: both
}
.inline-span.three-across > li {
 width: 31.3%
}
.inline-span.three-across > li:nth-child(3n+1) {
 clear: both
}
.inline-span.four-across > li {
 width: 23%
}
.inline-span.four-across > li:nth-child(4n+1) {
 clear: both
}
/*=======================first setup the grid view =====================*/
.listingContainer {
 line-height: 1.42857143; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.listingContainer .placeholder > img, .listingContainer .placeholder a > img {
 margin-right: auto; margin-left: auto;
}
.listingContainer .caption {
 float: left; height: 166px; overflow: hidden;
}
.listingContainer .caption h2 {
 font-size: 16px; text-align: center;
}
.listingContainer .price-wrap {
 float: left; width: 48%;
}
.listingContainer .btn-wrap {
 float: right; text-align: right; width: 48%;
}
.listingContainer .optional-wrap {
 display: block; overflow: hidden; width: 100%; margin-left: 0; padding-left: 0;
}
.listingContainer .optional-wrap > li {
 position: relative; display: inline; float: left; overflow: hidden; width: 100%;
}
/*======================= some help for four wide option ==================*/
.four-across .listingContainer .price-wrap {
 width: 100%; text-align: center;
}
.four-across .listingContainer .btn-wrap {
 float: right; text-align: center; width: 100%;
}
/*=======================next list view overrides ========================*/
.one-across .listingContainer .placeholder {
 width: 25%; float: left; margin: 2% auto;
}
.one-across .listingContainer .caption {
 height: auto; width: 75%; float: right;
}
.one-across .listingContainer .caption h2 {
 text-align: left
}
.one-across .listingContainer .price-wrap {
 width: 25%; text-align: center;
}
.one-across .listingContainer .optional-wrap > li {
 width: 48%
}
/*======================= finally we go responsive ========================*/
@media (max-width: 767px) {
    /* Reusable Inline Block Grids --- */
    .inline-span > li {
     clear: none
    }
    .inline-span.four-across > li:nth-child(4n+1) {
     clear: none
    }
    .inline-span.three-across > li:nth-child(3n+1) {
     clear: none
    }
    .inline-span.two-across > li:nth-child(2n+1) {
     clear: none
    }
    .inline-span.fluid-one-across > li {
     width: 98%
    }
    .inline-span.fluid-two-across > li {
     width: 48%
    }
    .inline-span.fluid-two-across > li:nth-child(2n+1) {
     clear: both
    }
    /* Listings  ------------------------------------------------------- */
    .listingContainer .optional-wrap {
     display: none
    }
    .fluid-one-across .listingContainer .caption h2 {
     margin-top: 2%
    }
    .fluid-one-across .listingContainer .price-wrap {
     text-align: left; width: 48%;
    }
    .fluid-two-across .listingContainer .caption, .three-across.fluid-one-across .listingContainer .caption, .four-across.fluid-one-across .listingContainer .caption {
     width: 100%; height: 60px;
    }
    .fluid-two-across .listingContainer .caption small, .three-across.fluid-one-across .listingContainer .caption small, .four-across.fluid-one-across .listingContainer .caption small {
     display: none
    }
    .fluid-two-across .listingContainer .price-wrap, .fluid-two-across .listingContainer .btn-wrap, .three-across.fluid-one-across .listingContainer .price-wrap, .three-across.fluid-one-across .listingContainer .btn-wrap, .four-across.fluid-one-across .listingContainer .price-wrap, .four-across.fluid-one-across .listingContainer .btn-wrap {
     text-align: center; width: 100%;
    }
}

/* Account History Info ----------------------------------------------------- */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  right: 25px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 0px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p .timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-body blockquote {
  font-size: 1em;
}

/* Nav Bars ----------------------------------------------------------------- */

.navbar-no-corners {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.navbar-no-margin {
  margin-bottom: 0 !important;
}

.searchbox-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

