/* Historical osCommerce ---------------------------------------------------- */

.buttonSet {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttonAction {
  float: right;
}

#piGal img {
  max-width: 250px;
  height: auto;
}

/* Alignment of Form Inputs ------------------------------------------------- */

.form-control {
  margin-bottom: 5px;
  display: inline;
}

#bodyContent .form-control {
  width: 90%;
}

