<div class="callout callout-danger">
    <h4>System Pr&uuml;fung fehlgeschlagen</h4>
    <p>Ihr Server erf&uuml;llt nicht die Mindest-Anforderung f&uuml;r die Installation.

      Bitte lesen Sie die <a href="http://helpdesk.mailbeez.com/990870-MailBeez-Installer-Hilfe" target="_blank" style="text-decoration: underline; font-weight: bold">Hilfe zum MailBeez Installer</a> f&uuml;r weitere Informationen.</p>
    <p><a href="javascript:Installer.Events.retry()" class="btn btn-default btn-sm">Wiederhole System Pr&uuml;fung</a></p>
    <small>Ursache Code: {{reason}}</small>
</div>