<!-- Success alert -->
<p class="lead text-success with-tick bg-success">Upate has been successfully completed</p>

<!-- Application information -->
<div class="row">
    <div class="col-xs-12 text-center">
      <!--
       onclick="parent.$.fn.ceebox.closebox(); return false;"
      -->
        <p><a class="btn btn-primary btn-lg" href="mailbeez.php" target="_top">Close</a></p>
    </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-xs-12">
    {{backuplocation}}
  </div>
</div>
<br/>
<?php echo $inc_content_update_final; ?>