<!-- Configuration form -->
<div id="projectForm" class="animated-content">

    <div class="row">
        <div class="col-md-3 hidden-sm">

            <!-- Side Navigation -->
            <div class="side-nav section-side-nav"></div>

            <div class="side-nav">
                <h3>In a hurry?</h3>
                <p>You can always manage these settings later, click Install to keep moving.</p>
            </div>

        </div>
        <div class="col-md-9">

            <div class="cloud-content">
                <!-- Configuration Form -->
                <div class="section-content"></div>
            </div>

            <!-- Page Navigation -->
            <div class="btn-group page-nav section-page-nav"></div>

        </div>
    </div>

</div>
