<div class="row">
    <div class="col-xs-7">

        <!-- Heading -->
        <h2 class="animate move_right">{{title}}</h2>

    </div>
    <div class="col-xs-5 visible-xs visible-sm visible-md visible-lg">

        <!-- Step progress -->
        {{#isStep1}}
            <div class="steps row animate move_up">
                <div class="col-xs-4 pass last"><p>1</p></div>
                <div class="col-xs-4"><p>2</p></div>
                <div class="col-xs-4"><p>3</p></div>
            </div>
        {{/isStep1}}

        {{#isStep2}}
            <div class="steps row">
                <div class="col-xs-4 pass"><p>1</p></div>
                <div class="col-xs-4 pass last"><p>2</p></div>
                <div class="col-xs-4"><p>3</p></div>
            </div>
        {{/isStep2}}

        {{#isStep3}}
            <div class="steps row">
                <div class="col-xs-4 pass"><p>1</p></div>
                <div class="col-xs-4 pass"><p>2</p></div>
                <div class="col-xs-4 pass last"><p>3</p></div>
            </div>
        {{/isStep3}}

    </div>
</div>