<div class="callout callout-danger">
    <h4>System Check Failed</h4>
    <p>Your system does not meet the minimum requirements for the installation. Please see <a href="http://helpdesk.mailbeez.com/696102-MailBeez-Installer-Help" target="_blank" style="text-decoration: underline; font-weight: bold">the documentation</a> for more information.</p>
    <p><a href="javascript:Installer.Events.retry()" class="btn btn-default btn-sm">Retry System Check</a></p>
    <small>Reason code: {{reason}}</small>
</div>